<!DOCTYPE html>
<html>
<head>
	<title>Burger Eater App</title>
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-88w0u/oucDSTE30ETLLIobzhT+bQ6CSsiqQyLZpwHvve89eqUA9F2Db6ST6jGRLx" crossorigin="anonymous">
</head>
<header align="center">

<br>
<img src="https://image.freepik.com/free-vector/really-big-burger_23-2147515204.jpg" height="350px" width="350px" style="border:5px solid black">

</header>
<body style="background-color:darkgrey; color:black;">

<div class="text-center">
	 
	 <h1 class="rowhead">Eat a Burger</h1>
	<hr>
	<div class="container">
		<div class="row">
			<div class="col-xs-offset-3 col-xs-6">
				<form method="POST" action="/add" class="button-size">
				<textarea class="form-control" rows="1" type="text" name="burgerName"></textarea>What Kind of Burger Would you like?
				<button type="submit" class="btn btn-info btn-sm">Put it on the Menu!</button>
				 
				</form>
			</div>
		</div>
	</div>

</div>

<div>
  								{{{body}}}
</div>


</body>
</html>