
<div class="container">
	<div class="row">
		<div class="col-xs-6 text-center">
			<h4 align="center" class="rowhead"><u>Your Burger Menu</u></h4>
			<div class="row">
			  
			  {{#each burger}}
			  	{{#unless this.devoured}}
				
					<div class="col-xs-7 text-center">

					<h5 align="left">{{this.burgerName}}</h5>
					
					</div>
					
					<div class="col-xs-3 text-center">
						<form method="POST" action="/devour?_method=PUT">
							<button type="submit" name="burgerid" value={{this.id}} class="btn btn-danger btn-xs">Eat it!</button>
						</form>
					</div>
				
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		
		
		<div class="col-xs-6 text-center">
			<h4 align="center" class="rowhead"><u>You Ate it!</u></h4>
			  
			  {{#each burger}}
			  	{{#if this.devoured}}
			  					  		
			  		<h5 align="left">{{this.burgerName}}</h5>
					
					

				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>
